#blog {
  .card_opicity2 {
    
    position: absolute;
    
     }
  .card_opicity {
    

 
  }
  .card2 {
    z-index: 1;
    box-shadow: 0 10px 30px 0 rgba(111, 0, 87, 0.16);
    border: none;
   
    height: 100% ;
  }
  .card-title {
    font-size: 1rem;
    font-weight: bolder;
    color: #4e4e4e;
    text-transform: uppercase;
  
  }
  .card-text {
    font-size: 0.9rem;
    color: #6f6f6f;
  }
  .card-title {
    font-size: 1.1rem;
    font-weight: bolder;
    color: #4e4e4e;
    text-transform: uppercase;
    margin-top: auto; 
 
    
  }
  .card-text {
    font-size: 0.9rem;
    color: #6f6f6f;
  }
  .card1 {
    
 
    .card-title {
      font-size: 1rem;
      font-weight: bolder;
      color: #4e4e4e;
      text-transform: uppercase;
    }
    .card-text {
      font-size: 0.9rem;
      color: #6f6f6f;
    }
    .card-title {
      font-size: 1rem;
      font-weight: bolder;
      color: #4e4e4e;
      text-transform: uppercase;
    }
    .card-text {
      font-size: 0.9rem;
      color: #6f6f6f;
    }
  }
}
